<div class="row">
    <h1 class="principal">Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="principal">Ingeniería Informática - </h1><h3>2020 / actualidad</h3>
            </li>
            <h2>
                Universidad de Buenos Aires
            </h2>
        </ul>
        <ul>
            <li>
                <h1 class="principal">Inglés - </h1><h3>2021 / actualidad</h3>
            </li>
            <h2>
                Liceo Cultural Británico (Quilmes)
            </h2>
        </ul>
        <ul>
            <li>
                <h1 class="principal">FullStack Developer Jr. - </h1><h3>2020 / actualidad</h3>
            </li>
            <h2>
                CESSI / INTI / Ministerio de Desarrollo Productivo
            </h2>
        </ul>
    </div>
</div>