<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">GONZALO MATIAS AVALOS<!--{{persona.nombre}} {{persona.apellido}}--></h2>
        <h2 id="titulo">Desarrollador</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="principal">Acerca de mi</h1>
            <p>Soy un estudiante de programación full stack e informática, siempre dispuesto a aprender nuevas habilidades y conocimientos.</p>
        </span>
    </div>
</div>