<div class="row">
    <h1 class="principal">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="principal">Operador técnico de radio - </h1><h3>2013 / actualidad</h3>
            </li>
            <p>
                Regulacion y manejo de audio y video de consolas, computadoras (redes sociales y musicalización) y micrófonos. Radio Stylo FM 107.7 (Quilmes, Ezpeleta Oeste)
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="principal">Cajero y vendedor - </h1><h3>2018 / actualidad</h3>
            </li>
            <p>
                Trabajo en nombre del Centro Cultural "José Asunción Flores" (Quilmes, Ezpeleta Oeste) en distintas localidades del conurbano bonaerense como armador de stand, cajero y vendedor de comida en ferias de colectividades.
            </p>
        </ul>
        <ul>
            <li class="principal">
                <h1>Personal Trainer - </h1><h3>2022</h3>
            </li>
            <p>
                Doy clases de entrenamiento personal en un centro de entrenamiento integrado (CEIS) ubicado en Quilmes, capacitándome continuamente por un profesor de educación física a cargo. Ayudo en técnicas, ejercicios y posturas de calentamientos, entrenamientos y elongación.
            </p>
        </ul>
    </div>
</div>