<div class="row">
    <h1 class="principal">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="principal">{{trabajo1}} - </h1><h3>{{trabajo1Inicio}} / {{trabajo1Fin}}</h3>
                <h2>{{lugarTrabajo1}}</h2>
            </li>
            <p>
                {{trabajo1Descripcion}}
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="principal">{{trabajo2}} - </h1><h3>{{trabajo2Inicio}} / {{trabajo2Fin}}</h3>
                <h2>{{lugarTrabajo2}}</h2>
            </li>
            <p>
                {{trabajo2Descripcion}}
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="principal">{{trabajo3}} - </h1><h3>{{trabajo3Inicio}} / {{trabajo3Fin}}</h3>
                <h2>{{lugarTrabajo3}}</h2>
            </li>
            <p>
                {{trabajo3Descripcion}}
            </p>
        </ul>
    </div>
</div>