<div class="row">
    <h1 class="principal">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="principal">{{estudio1}} - </h1><h3>{{estudio1Comienzo}} / {{estudio1Fin}}</h3>
            </li>
            <h2>
                {{lugarEstudio1}}
            </h2>
        </ul>
        <ul>
            <li>
                <h1 class="principal">{{estudio2}} - </h1><h3>{{estudio2Comienzo}} / {{estudio2Fin}}</h3>
            </li>
            <h2>
                {{lugarEstudio2}}
            </h2>
        </ul>
        <ul>
            <li>
                <h1 class="principal">{{estudio3}} - </h1><h3>{{estudio3Comienzo}} / {{estudio3Fin}}</h3>
            </li>
            <h2>
                {{lugarEstudio3}}
            </h2>
        </ul>
    </div>
</div>